{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
	<!-- Type all CSS here first-->
	

	<div class="row" style="width: 80vw;">
		<div class="col-lg-6 fw-bold">
			<div class="main-text">
				Hi,<br>
				I am Yukty Khandelia.<br>
			</div>
			<div class="italic-text">Upcoming SDE Intern @ Amazon IN | Looking for FTE Opportunities | Final year B.tech, CSE student</div><br>

			<a class="btn btn-bpurple" href="https://drive.google.com/file/d/1uLHrPBOTGZn_--XCFbrp5epsc8RZZuYx/view?usp=sharing" target="_blank" style="margin-top: 10px;">Download CV</a> 

			<a class="btn btn-bbpurple" href="{% url 'portfolio-contactMe' %}" style="margin-top: 10px;">Contact Me</a>
		</div>
		<div class="col-lg-6"  style="padding-top: 20px;">
			<div>
				<img class="mid-sz-img" src="{% static 'portfolio/yukty.jpg' %}" alt="yukty's photo">
			</div>
			
		</div>
	</div>

	<hr style="height: 0.2px;background-color: #800080;">


	<p class="project-text">Projects</p><br>
	<div class="row" style="width: 80vw;">
		<div class="col-lg-4">
			<div class="project-img-div">
				<a href="https://ykdjangoapp.herokuapp.com/" target="_blank"><img class="project-img" src="{% static 'portfolio/blog1.jpg' %}" alt="Blogging site picture"></a><br>
				<div class="italic-text">Blogging site built using Django, Python</div><br>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="project-img-div">
				<a href="https://github.com/yukty2000/Deep_Learning" target="_blank"><img class="project-img" src="{% static 'portfolio/catvnotcat.jpg' %}" alt="Cat and non cat picture"></a><br>
				<div class="italic-text">Cat vs Not-cat classifier built using standard neural network</div><br>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="project-img-div">
				<a href="https://ykbankingapp.herokuapp.com/" target="_blank"><img class="project-img" src="{% static 'portfolio/netbankingii.jpg' %}" alt="Net banking application"></a><br>
				<div class="italic-text">Net banking application prototype for dummy, inbuilt users</div><br>
			</div> 
		</div>
	</div><br>
	<div class="row" style="width: 80vw;">
		<div class="col-lg-4">
			<div class="project-img-div">
				<a href="https://github.com/yukty2000/Placement_Cell_Website" target="_blank"><img class="project-img" src="{% static 'portfolio/placement.jpg' %}" alt="Plcement Cell Website picture"></a><br>
				<div class="italic-text">(Ongoing final year project) Placement Cell Website</div><br>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="project-img-div">
				<a href="https://github.com/yukty2000/Data-Science" target="_blank"><img class="project-img" src="{% static 'portfolio/datamining.jpg' %}" alt="Data mining picture"></a><br>
				<div class="italic-text">Repo containing standard data mining algorithms</div><br>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>


	<hr style="height: 0.2px;background-color: #800080;">


	<p class="project-text">Achievements</p><br>
	<div class="row" style="width: 80vw;padding-top: 20px;">
		<div class="col-lg-6">
			<div>
				<img class="project-img" src="{% static 'portfolio/coding.jpg' %}" alt="coding photo">
			</div>
			
		</div>
		<div class="col-lg-6 italic-text"  style="padding-top: 20px;">
			<ul>
				<li>Secured global rank 202 in TCS Codevita Season 9(2020) Qualifier Round. Over a lakh students participated in this
coding challenge.</li><br>
				<li>Secured finale rank 243 in Techgig Code Gladiators(2021) . Over three lakh students registered for this coding
challenge by Cognizant.</li><br>
				<li>Scored 98.5135 percentile in eLitmus pH(Hiring Potential) test in Feb’21.</li><br>
				<li>Successfully cracked the elimination and semi-final rounds of Techgig Geek Goddess'20 online coding challenge with full score in both and secured the global rank of 1690.</li><br>
				<li>Was the Head girl of my school in 2016-17.</li><br>

			</ul>
		</div>
	</div><br>


	<hr style="height: 0.2px;background-color: #800080;">

	<div class="row" style="width: 80vw;">
		<div class="col-lg-8">
			<p class="quote-text italic-text">"Winners never Quit. Quitters never Win."</p><br><br>	
		</div>
		<div class="col-lg-4">
			<a href="https://www.linkedin.com/in/yukty-khandelia-5a19951a3/" target="_blank"><img class="icon-img" src="{% static 'portfolio/linkedin_icon.png' %}" alt="LinkedIn icon"></a><br><br>
			<a href="https://twitter.com/yuktycodes9" target="_blank"><img class="icon-img" src="{% static 'portfolio/twitter_icon.png' %}" alt="Twitter icon"></a><br><br>
			<a href="https://www.instagram.com/_yukty_/" target="_blank"><img class="icon-img" src="{% static 'portfolio/instagram_icon.png' %}" alt="Instagram icon"></a><br><br>
		</div>
	</div> 

{% endblock content %} 
