body {
  background: #fffacd;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #800080;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #FFE4C4;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #FFE4E1;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-purple {
  background-color: #800080;
  color : #ffffff;
}

.btn-purple:hover {
        background-color: #ffffff;
        color : #800080;
        border-color: #800080;
    }

.btn-bpurple  {
  background-color: #ffffff;
  color : #800080;
  border-color: #800080;
}

.btn-bpurple:hover{
  background-color: #800080;
  color : #ffffff;
}

/* my css */
.mid-sz-img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.main-text  {
  padding-top: 30px;
  font-size: 40px;
  font-family: "Lucida Console","Courier New", monospace;
}

.italic-text {
  font-style: italic;;
}

.btn-bbpurple {
  background-color: #800080;
  color : #ffffff;
}
.btn-bbpurple:hover {
  background-color: #800080;
  color : #FFE4C4;
}

.project-text {
  padding-top: 30px;
  font-size: 40px;
  font-family: "Lucida Console","Courier New", monospace;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}
.project-text:hover { 
  text-decoration-color: rgba(0, 0, 0, 1);
}

.project-img-div  { 
  padding-left: 30px;
  padding-top: 10px;
  transition: transform .2s;

}
.project-img-div:hover  {
  transform: scale(1.1);
}

.project-img  {
  max-width: 100%;
  max-height: 100%; 
}

li {
  transition: transform .2s;
}
li:hover {
  transform: scale(1.1);
}

.quote-text {
  padding-top: 30px;
  font-size: 40px;
  font-family: "Lucida Handwriting","Brush Script MT", cursive;
}

.icon-img {
  width: 30px;
  height : 25px;
  border-radius: 50%;
}